html, body {
  margin: auto;
  width: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: #1a2456;
  margin: 20px;
  border-radius: 10px;
  z-index: 1000;
}

.navbar-brand, .nav-link {
  color: #EFC2B3;
  text-transform: uppercase;
 }

 .navbar-brand:hover, .nav-link:hover, .navbar-brand:focus,
 .nav-link:focus, .nav-link.show {
   color: #ec997e !important;
 }

img#logo{
  height: 68px;
}

img#nav-icon {
  height: 30px;
}

.navbar-toggler {
  margin-left: auto;
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23EFC2B3' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.collapse.navbar-collapse, .navbar-toggler-icon {
  justify-content: flex-end;
}

.dropdown-menu.show {
  margin-left: auto;
  right: 0px;
}

.navbar-nocollapse{
  display: flex;
  align-items: center;
  gap: 15px;
  padding-right: 10px;
}
.navbar-nav {
  gap: 15px;
  padding-right: 15px;
}

section#hero {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/home-hero-image.jpeg");;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.hero-text {
  color: #EFC2B3;
  text-align: center;
}

.hero-text h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 60px;
}

.hero-text p {
  font-size: 30px;
  font-weight: 200;
}

#product-grid {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
